################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/asset_temp
/assets/models
/MSSCCPRJ.SCC
